#footer {
    position: relative;
    margin-top: 0px;
    clear: both;
 }
.footer-bottom {
    padding: 30px 0px 0px 0px;
    background: #1e1e1e;
}
.container {
    max-width: 1400px !important;
}
.copyright-text p {
    color: #ccc;
    margin-top: 9px;
    margin-bottom: 0;
}
.social-link li {
    display: inline-block;
    margin: 0 5px;
}
.social-link li a {
    color: #ccc;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    transition: .5s;
}