<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">TuresBalon - CARRITO DE COMPRAS</h1>
  </div>
</section>
<div class="container mb-4">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"> </th>
              <th scope="col">Producto</th>
              <th scope="col">En stock</th>
              <th scope="col" class="text-center">Cantidad</th>
              <th scope="col" class="text-right">Precio</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td><img src="{{ item.url }}" class="img-responsive img-fluid" width="50" height="50"></td>
              <td style="padding-top: 25px;">{{item.nombre}}</td>
              <td style="padding-top: 25px;">In stock</td>
              <td class="text-center" style="padding-top: 18px;">
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm">
                    <button type="button" class="btn btn-outline-secondary" (click)="subtract(item)"> <i
                        class="fas fa-minus-circle"></i></button>
                  </div>
                  <div class="col-sm" style="border-bottom: 1px black; border-bottom-style: solid;"><label
                      style="margin-top: 5px;">{{item.size}}</label></div>
                  <div class="col-sm">
                    <button type="button" class="btn btn-outline-secondary" (click)="add(item)"> <i
                        class="fas fa-plus-circle"></i></button>
                  </div>
                  <div class="col-sm"></div>
                </div>
              </td>
              <td class="text-right" style="padding-top: 25px;">$ 124,90</td>
              <td class="text-center" style="padding-top: 25px;"><button class="btn btn-sm btn-danger"
                  (click)="delete(item)"><i class="fa fa-trash"></i> </button> </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-right">Sub-Total</td>
              <td class="text-right">$ 255,90</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-right"><strong>Total</strong></td>
              <td class="text-right"><strong>$ 346,90</strong></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col mb-2">
      <div class="row">
        <div class="col-sm-12  col-md-6">
          <a class="btn btn-outline-secondary btn-block btn-light" routerLink="/home">Seguir comprando</a>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <button class="btn btn-block btn-success text-uppercase" (click)="checkout()"
            *ngIf="items.length > 0">Checkout</button>
        </div>
      </div>
    </div>
  </div>
</div>